.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.profile-tbody .profile-tr {
  background: white !important;
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0 4%;
  border-bottom: 2px solid #e7e7e7;
}

.profile-tbody .profile-tr:nth-last-child(1) {
  border: none;
}

.profile-td {
  border: none;
  padding: 0;
}
