.navigation {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper > span {
  font-size: 1.2rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1em;
}

.nav-list {
  list-style: none;
  display: flex;
}

.list-item {
  margin-right: 1em;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #4da0ff;
}

.active {
  text-decoration: underline;
}
