table {
  margin: 2em 0;
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border: 2px solid #e7e7e7;
  border-collapse: collapse;
}

th {
  padding: 0.4em;
}

thead th:nth-child(2) {
  width: 60%;
}

tbody tr:nth-child(odd) {
  background-color: #f3f0f0;
}

td {
  padding: 0.9em 0.4em;
  border: 1px solid #e7e7e7;
}

button {
  border: 1px solid #292828;
  border-radius: 5px;
  color: #292828;
  padding: 0.4em;
  text-transform: capitalize;
  cursor: pointer;
  width: 100px;
}

.btn-active {
  color: #f83f3f;
  border-color: #f83f3f;
}